<div id="content">
  <p>team-data works!</p>
  <br>
  <p>We have {{teams.length}} teams in the league</p>
  <br>
  <p>My favority teamis {{teams[0].name}}</p>
  <br>
  <p>The total list is:</p>
  <ul>
    <li *ngFor="let team of teams">
      {{team.name}}
    </li>
  </ul>
</div>
